<legend id="leyenda">Eliminar Estación</legend>

<p> Acontinuación puede borrar la estacion tenga cuidado no se puede revertir los cambios: </p>
<label for="tiposEstaciones"> - Seleccione la Estación:</label>

<select class="browser-default" dropdown="items">
    <option value="0" disabled selected>Seleccione</option>
    <option value="1">estacion 1</option>
    <option value="2">estacion 2</option>
    <option value="3">estacion 3</option>
</select>


<p> </p>
<div class="col s12 push-s10">
    <a class="waves-effect #b71c1c red darken-4 btn">Eliminar</a>
</div>
