<legend id="leyenda">Editar Estación


<label for="tiposEstaciones"> - Seleccione la Estación:

<select class="browser-default" dropdown="items">
    <option value="0" disabled selected>Seleccione</option>
    <option value="1">estacion 1</option>
    <option value="2">estacion 2</option>
    <option value="3">estacion 3</option>
</select>
</label>
</legend>

<div class="col s11 push-s1">
    <div class="col s3">
        <div class="row">
            <label for="reporte">Nombre</label>
            <span class="text-danger">*</span>
            <input id="departamento" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>

    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Dirección</label>
            <span class="text-danger">*</span>
            <input id="departamento" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>

    <div class="col s3 push-s2">
        <div class="row">
            <label for="reporte">Localidad</label>
            <span class="text-danger">*</span>
            <input id="departamento" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>
</div>

<div class="col s11 push-s1">
    <div class="col s3">
        <div class="row">
            <label for="reporte">Latitud</label>
            <input id="departamento" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>

    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Longitud</label>
            <input id="departamento" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>

    <div class="row">
        <div class="col s3 push-s2">
            <label for="tiposEstaciones">Tipo Estación</label>
            <span class="text-danger">*</span>
            <select class="browser-default" dropdown="items">
                <option value="0" disabled selected>Seleccione</option>
                <option value="1">Opcion 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
    </div>
</div>


<div class="col s11 push-s1">
    <div class="col s3">
        <label for="troncales">Troncal</label>
        <span class="text-danger">*</span>
        <select class="browser-default" dropdown="items">
            <option value="0" disabled selected>Seleccione</option>
            <option value="1">troncal 1</option>
            <option value="2">troncal 2</option>
            <option value="3">troncal 3</option>
        </select>
    </div>
    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Orden</label>
            <span class="text-danger">*</span>
            <input id="departamento" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>
    <div class="col s3 push-s2">
        <div class="row" style="margin-top: 45px !important;">
            <label>
                <input type="checkbox" checked="checked" />
                <span>Inicio de Troncal</span>
            </label>
        </div>
    </div>
</div>

<div class="col s12 push-s10">
    <a class="waves-effect #b71c1c red darken-4 btn">Guardar</a>
</div>
