
<legend id="leyenda">Generación datos</legend>

<div class="col s11 push-s1">
    <div class="row">
        <div class="col s3">
            <label for="tabla">Seleccione la tabla:</label>
            <span class="text-danger">*</span>
            <select class="browser-default" dropdown="items">
                <option value="0" disabled selected>Seleccione</option>
                <option value="1">tabla 1</option>
                <option value="2">tabla 2</option>
                <option value="3">tabla 3</option>
            </select>
        </div>
        <div class="col s3">
            <div class="row">
                <label for="reporte">numero de registros:*</label>
                <input id="nombre_zona" type="number" class="form-control" maxlength="50" value="">
            </div>
        </div>

        <div class="col s3">
            <a class="waves-effect #b71c1c red darken-4 btn">Generar</a>
        </div>
    </div>


</div>



<table>
<tr>
  <td><strong>Nombre</strong></td>
  <td><strong>Sentido</strong></td>
</tr>

<tr>
  <td>Ruta 1</td>
  <td>Ruta 2</td>
</tr>

<tr>
  <td>no</td>
  <td>su</td>
</tr>
</table>
