<ul id="estaciones" class="dropdown-content">
  <li><a [routerLink]="'/estacion/crear'"><i class="tiny material-icons left">add_circle_outline</i>Crear</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="'/estacion/consultar'"><i class="tiny material-icons left">edit</i>Consultar</a></li>
</ul>
<ul id="troncales" class="dropdown-content">
  <li><a [routerLink]="'/troncal/crear'"> <i class="tiny material-icons left">add_circle_outline</i>Crear</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="'/troncal/consultar'"><i class="tiny material-icons left">edit</i>Consultar</a></li>
</ul>

<ul id="datosMasivos" class="dropdown-content">
  <li><a [routerLink]="'/archivo/cargararchivo'"> <i class="tiny material-icons left">note_add</i>Cargar Archivo</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="'/archivo/generardatos'"><i class="tiny material-icons left">view_module</i>Generar Datos</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="'/archivo/servicioweb'"><i class="tiny material-icons left">web</i>Servicio Web</a></li>
</ul>

<nav>
  <div class="nav-wrapper #b71c1c red darken-4">
    <a href="#!" class="brand-logo"><i class="tiny material-icons left">add_location</i>Transmilenio</a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="'/inicio'">Inicio</a></li>

      <li><a class="dropdown-trigger" data-target="estaciones">
          <i class="tiny material-icons left">directions_bus</i>
          Estaciones
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>

      <li><a class="dropdown-trigger" href="#!" data-target="troncales">
          <i class="tiny material-icons left">wrap_text</i>
          Troncales
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>

    
      <li><a [routerLink]="'/reportes'"><i class="tiny material-icons left">event_note</i>Reportes</a></li>

      <li><a class="dropdown-trigger" href="#!" data-target="datosMasivos">
          <i class="tiny material-icons left">dashboard</i>
          Datos Masivos
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>

  </div>
</nav>
