<!--
<ul id="troncales" class="dropdown-content">
  <li><a [routerLink]="['/troncal/crear']"> <i class="tiny material-icons left">add_circle_outline</i>Crear</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/troncal/consultar']"><i class="tiny material-icons left">edit</i>Consultar</a></li>
</ul>

<ul id="rutas" class="dropdown-content">
  <li><a [routerLink]="['/ruta/crear']"> <i class="tiny material-icons left">add_circle_outline</i>Crear</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/ruta/consultar']"><i class="tiny material-icons left">edit</i>Consultar</a></li>
</ul>

<ul id="datosMasivos" class="dropdown-content">
  <li><a [routerLink]="['/archivo/cargararchivo']"> <i class="tiny material-icons left">note_add</i>Cargar Archivo</a>
  </li>
  <li class="divider"></li>
  <li><a [routerLink]="['/archivo/generardatos']"><i class="tiny material-icons left">view_module</i>Generar Datos</a>
  </li>
  <li class="divider"></li>
  <li><a [routerLink]="['/archivo/servicioweb']"><i class="tiny material-icons left">web</i>Servicio Web</a></li>
</ul>

<nav>
       <li><a class="dropdown-trigger" href="#!" data-target="troncales">
          <i class="tiny material-icons left">wrap_text</i>
          Troncales
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>

      <li><a class="dropdown-trigger" href="#!" data-target="rutas">
          <i class="tiny material-icons left">call_split</i>
          Rutas
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>
      <li><a [routerLink]="['/reportes']"><i class="tiny material-icons left">event_note</i>Reportes</a></li>

      <li><a class="dropdown-trigger" href="#!" data-target="datosMasivos">
          <i class="tiny material-icons left">dashboard</i>
          Datos Masivos
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>

  </div>
</nav>-->
<nav class="navbar navbar-expand-lg" style="background-color: #B71C1C; flex-flow: unset !important;">
  <i class="fas fa-bus-alt"> </i>
  <a class="navbar-brand" href="/inicio">Transmilenio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul id="camila" class="nav navbar-nav" style="padding-left: 25% !important;">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;"> 
            <i class="fas fa-bus-alt" style="color:white !important;"></i>
          Estaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/estacion/administrar/0">
            <i class="fas fa-edit"></i>
            Crear Estación</a>
          <a class="dropdown-item" href="/estacion/consultar">
            <i class="fas fa-eye"></i>
            Consultar Estaciones</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
              <i class="fab fa-accusoft" style="color:white !important;"></i>
            Troncales
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Crear Troncal</a>
            <a class="dropdown-item" href="#">Consultar Troncales</a>
          </div>
      </li>

      
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
                <i class="fas fa-route" style="color:white !important;"></i>
              Rutas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Crear Ruta</a>
              <a class="dropdown-item" href="#">Consultar Rutas</a>
            </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
              <i class="far fa-calendar-alt" style="color:white !important;"></i>
            Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/reporte/ruta-alimen">
              <i class="fas fa-bus-alt"></i>
              Ruta Alimentadora</a>
            <a class="dropdown-item" href="/reporte/ruta-troncal">
              <i class="fas fa-bus"></i>
              Ruta Troncal</a>
          </div>
      </li>


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
            <i class="fas fa-chart-line" style="color:white !important;"></i>
          Datos Masivos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">
              <i class="fas fa-file-export"></i>
            Cargar Archivo</a>
          <a class="dropdown-item" href="#">
              <i class="fas fa-file-alt"></i>
            Generar Datos</a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-file-medical-alt"></i>
              Servicio Web</a>
        </div>
    </li>
    </ul>
  </div>
</nav>

        <div>
          <router-outlet>
           <!--<span *ngIf="showLoader" class="loading"></span>-->
          </router-outlet>
          <!--<app-footer></app-footer>-->
        </div>     
