
<legend id="leyenda">Consultar Troncal</legend>

<div class="col s11 push-s1">
    <div class="col s3">
        <div class="row">
            <label for="reporte">Nombre</label>
            <span class="text-danger">*</span>
            <input id="nombre" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>

    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Zona:</label>
            <span class="text-danger">*</span>
            <input id="zona" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>

    <div class="col s3 push-s2">
        <div class="row">
            <label for="reporte">Color zona</label>
            <span class="text-danger">*</span>
            <input id="color" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>
</div>

<div class="col s11 push-s1">
    <div class="col s3">
        <div class="row">
            <label for="reporte">nombre zona*</label>
            <input id="nombre_zona" type="text" class="form-control" maxlength="50" value="">
        </div>
    </div>



    <div class="row">
        <div class="col s3 push-s2">
            <label for="tiposEstaciones">Operador acargo:</label>
            <span class="text-danger">*</span>
            <select class="browser-default" dropdown="items">
                <option value="0" disabled selected>Seleccione</option>
                <option value="1">Operador 1</option>
                <option value="2">Operador 2</option>
                <option value="3">Operador 3</option>
            </select>
        </div>
    </div>
</div>

<div class="col s12 push-s10">
    <a class="waves-effect #b71c1c red darken-4 btn">Guardar</a>
</div>
