<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <fieldset id="borde">
        <legend id="leyenda">{{nombreTitulo}}</legend>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="reporte">Nombre</label>
                        <span class="text-danger">*</span>
                        <input id="nombre" type="text" class="form-control" maxlength="50" [(ngModel)]="estacionSelected.nombre"
                        [disabled]="false">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="reporte">Dirección</label>
                        <span class="text-danger">*</span>
                        <input id="direccion" type="text" class="form-control" maxlength="50"
                        [(ngModel)]="estacionSelected.direccion" [disabled]="false">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12" id="margen">
                                <label for="reporte">Localidad</label>
                                <span class="text-danger">*</span>
                                <input id="nombre" type="text" class="form-control" maxlength="50" [(ngModel)]="estacionSelected.localidad"
                                [disabled]="false">
                    </div>  
                    <div class="col-md-6 col-sm-6 col-xs-12" id="margen">
                                <label for="reporte">Latitud</label>
                                <input id="direccion" type="text" class="form-control" maxlength="50"
                                [(ngModel)]="estacionSelected.latitud" [disabled]="false">
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" id="margen">
                                    <label for="reporte">Longitud</label>
                                    <input id="nombre" type="text" class="form-control" maxlength="50" [(ngModel)]="estacionSelected.longitud"
                                    [disabled]="false">
                        </div>  
                </div>   
                
                <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" id="margen">
                                    <label for="reporte">Troncal a la que pertenece</label>
                                    <span class="text-danger">*</span>
                                    <p-dropdown [options]="listaTroncalSelectItem" [(ngModel)]="estacionSelected.idTroncal" [style]="{'width':'150px'}">
                                        <ng-template let-item pTemplate="item"> 
                                         <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                            <div>{{item.label}}</div> 
                                         </div>
                                        </ng-template>
                                    </p-dropdown>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" id="margen">
                                <label for="reporte">Tipo de Estación</label>
                                <span class="text-danger">*</span>
                                <p-dropdown [options]="listaTipoEstacionSelectItem" [(ngModel)]="estacionSelected.idTipoEstacion">
                                    <ng-template let-item pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div>{{item.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                        </div>
                </div> 
                <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" id="margen">
                                    <label for="reporte">Orden</label>
                                    <span class="text-danger">*</span>
                                    <input id="nombre" type="number" class="form-control" maxlength="10" [(ngModel)]="estacionSelected.orden"
                                    [disabled]="false">
                        </div>  
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="margen">
                                    <label for="reporte">Inicia en la Troncal</label>
                                    <span class="text-danger">*</span>
                                    <p-dropdown [options]="listaEstacionInicialSelectItem" [(ngModel)]="estacionInicial" [style]="{'width':'150px'}" [disabled]="false">
                                        <ng-template let-item pTemplate="item"> 
                                         <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div>{{item.label}}</div> 
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    </div>
         
                                    <div class="col-md-6 col-sm-12 col-xs-12" id="margen">
                                    <label for="reporte">Finaliza en la Troncal</label>
                                    <span class="text-danger">*</span>
                                    <p-dropdown id ="listasDesplegables" [options]="listaEstacionFinalSelectItem" [(ngModel)]="estacionFinal" [style]="{'width':'150px'}" [disabled]="false"
                                    placeholder="Select a City">
                                        <ng-template let-item pTemplate="item"> 
                                         <div style="position: relative;height: 25px;">
                                            <div>{{item.label}}</div> 
                                         </div>
                                        </ng-template>
                                    </p-dropdown>
                                    </div>
                            </div>
                        </div>
                </div>

                <div class="col-xs-12 grupo_botones">
                        <button type="button" class="btn btn-primary" (click)="guardarEstacion()" style="margin-right: 15px !important;">Guardar
                        </button>
                        <button type="button" class="btn btn-primary" (click)="redireccionar()">Cancelar
                        </button>
                </div>

    </fieldset>
</div>
</div>