<legend id="leyenda">{{nombreTitulo}}</legend>
<div class="col s11 push-s1">
    <div class="col s3">
        <div class="row">
            <label for="reporte">Nombre</label>
            <span class="text-danger">*</span>
            <input id="nombre" type="text" class="form-control" maxlength="50" [(ngModel)]="estacionSelected.nombre"
                [disabled]="isCrear">
        </div>
    </div>

    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Dirección</label>
            <span class="text-danger">*</span>
            <input id="direccion" type="text" class="form-control" maxlength="50"
                [(ngModel)]="estacionSelected.direccion" [disabled]="isCrear">
        </div>
    </div>

    <div class="col s3 push-s2">
        <div class="row">
            <label for="reporte">Localidad</label>
            <span class="text-danger">*</span>
            <input id="departamento" type="text" class="form-control" maxlength="50"
                [(ngModel)]="estacionSelected.localidad" [disabled]="isCrear">
        </div>
    </div>
</div>

<div class="col s11 push-s1">
    <div class="col s3">
        <div class="row">
            <label for="reporte">Latitud</label>
            <input id="departamento" type="text" class="form-control" maxlength="50"
                [(ngModel)]="estacionSelected.latitud" [disabled]="isCrear">
        </div>
    </div>

    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Longitud</label>
            <input id="departamento" type="text" class="form-control" maxlength="50"
                [(ngModel)]="estacionSelected.longitud" [disabled]="isCrear">
        </div>
    </div>

    <div class="row">
        <div class="col s3 push-s2">
            <label for="tiposEstaciones"> Tipo de Estación </label>
            <span class="text-danger">*</span>
            <mat-form-field>
                <mat-select>
                    <mat-option *ngFor="let food of listaTipoEstaSel" [value]="food.value"
                        [(ngModel)]="estacionSelected.tipoEstacion.idTipoEsta" [disabled]="isCrear">
                        {{food.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>


<div class="col s11 push-s1">
    <div class="col s3">
        <label for="troncal">Troncal al que pertenece</label>
        <span class="text-danger">*</span>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of listaTroncalSel" [value]="food.value" [disabled]="isCrear">
                    {{food.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col s3 push-s1">
        <div class="row">
            <label for="reporte">Orden</label>
            <span class="text-danger">*</span>
            <input id="departamento" type="number" class="form-control" maxlength="10" value="0"
                [(ngModel)]="estacionSelected.orden" [disabled]="isCrear">
        </div>
    </div>

    <div class="col s3 push-s2">
        <div class="row">
            <label for="reporte">Inicia en la Troncal</label>
            <span class="text-danger">*</span>
            <section class="example-section">
                <mat-radio-group [(ngModel)]="estacionSelected.estaIncial" [disabled]="isCrear">
                    <mat-radio-button class="example-margin" value="SI">SI</mat-radio-button>
                    <mat-radio-button class="example-margin" value="NO">NO</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>
    </div>
</div>
<br>

<div *ngIf="isCrear" class="col s12 push-s10">
    <a class="waves-effect #b71c1c red darken-4 btn" (click)="redireccionar()">Cancelar</a>
</div>

<div *ngIf="!isCrear" class="col s12 push-s10">
    <a class="waves-effect #b71c1c red darken-4 btn" (click)="validarDatos()">Guardar</a>
</div>
