<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@35.197.94.178:1521/PDB1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.connection.username">testing</property>
        <property name="hibernate.connection.password">Oracle123</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="show_sql">true</property>
        <property name="transaction.factory_class">
            org.hibernate.transaction.JDBCTransactionFactory
        </property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="modelos.Test"/>
    </session-factory>
</hibernate-configuration>
