<div class="container-fluid encabezadoapp">
    <div class="row footer1">
    <div class="form-group col-md-4 col-md-offset-1">
    </div>
    </div>
    <div class="row footer2">
    <div class="form-group col-md-4 mt10 col-md-offset-1" style="margin-top: 50px !important;">
            <div class="item_footer3">Esta es una aplicación, que muestra una </div>
            <div class="item_footer3">parte de la solución al conflicto del transporte </div>
            <div class="item_footer3">masivo en la ciudad de Bogotá - Colombia. </div>
    </div>
    <div class="form-group col-md-4 mt10" style="margin-top: 25px !important; text-align: center !important;">
        <div class="item_footer3">Universidad Pedagógica y Tecnológica de Colombia</div>
        <div class="item_footer3">Especialización en Bases de Datos</div>
        <div class="item_footer3">maria.buitragovargas@uptc.edu.co</div>
        <div class="item_footer3">omar.sisa@uptc.edu.co</div>
        <div class="item_footer3">Obtener de:<a href="https://github.com/camila95/transmilenio-ebd" [translate]="'footer.entidadesVinculadas'">https://github.com/camila95/transmilenio-ebd</a></div>
    </div>

    <div class="form-group col-md-4 mt10 col-md-offset-3" style="padding-left: 15% !important;">
        <div>
            <i class="fas fa-bus-alt" style="font-size: 500% !important; text-align: center !important; margin-top: 35px !important;"> </i>
        </div>
        <div style="font-size: 20px !important; margin-left: -15px !important;">
            <label>Transmilenio</label>
        </div>
    </div>    
    </div>
</div>

