<footer class="page-footer #b71c1c red darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Universidad Pedagógica y tecnológica de Colombia</h5>
        <p class="grey-text text-lighten-4"> Proyecto presentado por: Maria Camila Buitrago y Omar Guillermo Sisa
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Correos electronicos:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" >maría.buitragovargas</a></li>
          <li><a class="grey-text text-lighten-3" >omar.sisa@uptc.edu.co</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright
      <a class="grey-text text-lighten-4 right">UPTC</a>
    </div>
  </div>
</footer>
